body {
	font-family: sans-serif;
	margin: 20px;
}

h1 {
	padding: 0px;
	margin: 0px 0px 20px 0px;
}

#styleMenu {
	display: block;
	float: left;
	margin-bottom: 40px;
	width: 100%;
}

#yearInput {
  width: 160px;
}

#bandA-element, #bandB-element {
	/*display: block;*/
	width: 150px;
	float: left;
	margin: 20px 40px 0px 0px;
}

.thumb {
	display: block;
	height: 150px;
	width: 150px;
	background-color: none;
	margin: 0 5px 5px 0;
}

#bandA-name, #bandB-name {
	height: 100px;
}

.albumName {
	color: #ff6633;
}

#voteForA, #voteForB {
	display: none;
}

#voteForA:hover, #voteForB:hover {
  cursor: pointer;
}

#test {
	display: block;
	float: right;
	right: 10px;
	top: 10px;
	width: 400px;
	height: 400px;
	background-color: #efefef;
}

.bigThumb {
	display: inline-block;
	height: 400px;
	width: 400px;
	background-color: #efefef;
	margin: 0;
}
