body {
	font-family: sans-serif;
  margin: 0px;
	padding: 40px;
  background-color: black;
  border-top: 6px solid #00cc99;
}

#wrapper {
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  position: relative;
  text-align: center;
}

#content {
  width: 740px;
  height: auto;
  display: inline-block;
  position: relative;
  padding: 0px;
}

h1 {
  font: 700 52px/52px "Roboto Condensed", "Roboto Condensed", Helvetica, Arial;
  padding: 0px;
  margin: 0px;
  color: #00cc99;
  text-align: left;
}

#styleMenu {
  position: relative;
  display: inline-block;
  margin: 60px 0px 60px 0px;
  width: 780px;
  text-align: left;
}

/*input placeholder text styling*/
::-webkit-input-placeholder {
   color: #666;
}
:-moz-placeholder { /* Firefox 18- */
   color: #666;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #666;  
}
:-ms-input-placeholder {  
   color: #666;  
}

#yearInput {
  position: relative;
  display: inline-block;
  top: 3px;
  background-color: #222;
  border: none;
  outline: none;
  font-size: 21px;
  font-weight: 400;
  font-family: "Roboto", Helvetica, Arial;
  padding: 0px 10px;
  color: #00cc99;
  width: 250px;
  height: 37px;
  margin-left: 10px;
  -webkit-transition: .5s; /* Safari */
    transition: .5s;
}

#yearInput:hover {
  background-color: #333;
}

input[type=submit] {
  position: relative;
  display: inline-block;
  height: 37px;
  top: 3px;
  padding: 0px 10px; 
  background: #00cc99;
  font-family: "Roboto", Helvetica, Arial;
  font-weight: 900;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: .5s; /* Safari */
    transition: .5s;
}

#doSearch {
  margin-left: 10px;
  font-size: 21px;
}

#doSearch:hover, #voteForA:hover, #voteForB:hover {
  background-color: #006650;
}

input:focus {
    outline:none;
}


/* ---------- dropdown styles ---------- */

.custom-dropdown_select{
	font: 700 21px/21px "Roboto", Helvetica, Arial; /* inherit size from .custom-dropdown */
  padding: 0px 0px 0px 10px; /* add some space*/
	margin: 0; /* remove default margins */
  outline: none; /* remove blue glow */
  height: 36px;
}

.custom-dropdown_select-color {
	background-color: #666;
	color: #333;
  -webkit-transition: .5s; /* Safari */
    transition: .5s;
}

.custom-dropdown_select-color:hover {
  cursor: pointer;
  background-color: #999;
}

@supports (pointer-events: none) and
	  ((-webkit-appearance: none) or
	  (-moz-appearance: none) or
	  (appearance: none)) {

	.custom-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;
    height: 36px;
	}

	.custom-dropdown_select {
		padding-right: 2.0em; /* accommodate with the pseudo elements for the dropdown arrow */
		border: 0;
		border-radius: 0px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;    
	}

	.custom-dropdown::before,
	.custom-dropdown::after {
		content: "";
		position: absolute;
		pointer-events: none;
	}

	.custom-dropdown::after { /*  Custom dropdown arrow */
		content: "\25BC";
		height: 1em;
		font-size: .775em;
		line-height: 1;
		right: 0.8em;
		top: 50%; margin-top: -.4em;
	}

	.custom-dropdown::before { /*  Custom dropdown arrow cover */
		width: 2em;
		right: 0; top: 0; bottom: 0;
		border-radius: 0px;
	}

	.custom-dropdown_select[disabled] {
		color: rgba(0,0,0,.3);
	}

	.custom-dropdown.custom-dropdown-disabled::after {
		color: rgba(0,0,0,.1);
	}

	/* Color dropdown style */
	.custom-dropdown-color::before {
		background-color: #666;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
		/*border-left: 1px solid #666;*/
	}

  .custom-dropdown-color:hover::before {
    background-color: #999;
  }

	.custom-dropdown-color::after {
		color: #333;
	}

	/* FF only temp fix */
	@-moz-document url-prefix() {
		.custom-dropdown_select 			 { padding-right: .9em }
		.custom-dropdown-large .custom-dropdown_select { padding-right: 1.3em }
		.custom-dropdown-small .custom-dropdown_select { padding-right: .5em }
	}
}

/* ---------- dropdown styles end ---------- */


#band-content {
  position: relative;
  display: block;
  margin: 0px auto;
  width: 780px;
  text-align: left;
}

#error {
  display: none;
  margin-bottom: 20px;
  font: 400 24px/24px "Roboto Condensed", Helvetica, Arial;
  color: #666;
  text-align: left;
}

#bandA-element, #bandB-element {
	/*display: block;*/
	width: 350px;
	float: left;
	margin: 0px 40px 0px 0px;
}

#bandB-element {
  margin: 0px;
}

.thumb {
	display: block;
	height: 350px;
	width: 350px;
	background-color: #000;
	margin: 0 5px 5px 0;
	background-repeat: no-repeat;
	background-size: 350px 350px;
	background-position: left top;
	outline: 1px solid #222;
  -webkit-transition: .5s; /* Safari */
    transition: .5s;
}

.thumb:hover {
  outline: 1px solid #00cc99;
}

#bandA-name, #bandB-name {
	height: 100px;
  overflow: hidden;
  color: white;
}

.bandName {
  padding-top: 20px;
  font: 700 26px/26px "Roboto Condensed", Helvetica, Arial;
  color: white;
}

.albumName {
  font: 400 21px/26px "Roboto Condensed", Helvetica, Arial;
	color: #00cc99;
}

#voteForA, #voteForB {
	display: none;
  font-size: 18px;
}

#voteForA:hover, #voteForB:hover {
  cursor: pointer;
}

#bandA-results, #bandB-results {
  margin-top: 25px;
  text-align: left;
  font: 400 16px/16px "Roboto", Helvetica, Arial;
  color: #999;
}

.voteNum {
  color: white;
  font-weight: bold;
}


