body {
	font-family: sans-serif;
}

#styleMenu {
	display: block;
	float: left;
	margin-bottom: 40px;
	width: 100%;
}

#bandA-element, #bandB-element {
	/*display: block;*/
	width: 175px;
	float: left;
	margin: 20px 40px 0px 0px;
}

.thumb {
	display: inline-block;
	height: 150px;
	width: 150px;
	background-color: #efefef;
	margin: 0 5px 5px 0;
}

#bandA-name, #bandB-name {
	height: 100px;
}

#voteForA, #voteForB {
	display: none;
}
